{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/pro.css') }}" type="text/css" />
     <style>
     section{
         padding:10px;
     }
     .table{
         border:1px solid #ddd;
     }
     .table th{
         border:1px solid #ddd;
         width:10%
     }
     .table td{
         border:1px solid #ddd;
         width:10%
     }
     </style>
{% endblock %}
{% block body %}
    <div class="fluid-container proHead">
         <h3 id="proH3">Projar</h3>
    </div>
    <div class="fluid-container proBody">
       {# {{ include("inc/navHome.html.twig")}}#}
    <div class="container navHome">
        <button class=" btnNav" id="staff">Staff Hub <span class="pull-right arrow">></span></button>
        <div class="subStaff ">
            <button class="btnSubNav" id="subStaff1">Staffs</button>
            <button class="btnSubNav" id="subStaff2">Add Staff</button>
        </div>
        <button class=" btnNav" id="team">Team Hub <span class="pull-right arrow">></span></button>
        <div class="subTeam ">
            <button class="btnSubNav" id="subTeam1">Teams</button>
            <button class="btnSubNav" id="subTeam2">Add Team</button>
        </div>
        <button class=" btnNav" id="project">Project Hub <span class="pull-right arrow">></span></button>
         <div class="subProject ">
            <button class="btnSubNav" id="subProject1">Projects</button>
            <button class="btnSubNav" id="subProject2">Add Project</button>
        </div>
        <button class=" btnNav" id="milestone">Milestone Hub <span class="pull-right arrow">></span></button>
        <div class="subMilestone ">
            <button class="btnSubNav" id="subMilestone1">Milestones</button>
            <button class="btnSubNav" id="subMilestone2">Add Milestone</button>
        </div>
        <button class=" btnNav" id="task">Task Hub <span class="pull-right arrow">></span></button>
        <div class="subTask ">
            <button class="btnSubNav" id="subTask1">Tasks</button>
            <button class="btnSubNav" id="subTask2">Add Task</button>
        </div>
        <button class=" btnNav" id="prospect">Prospects <span class="pull-right arrow">></span></button>
        <div class="subProspect ">
            <button class="btnSubNav" id="subProspect1">Prospects</button>
            <button class="btnSubNav" id="subProspect2">Add Prospect</button>
        </div>
        <button class=" btnNav" id="properties">Properties <span class="pull-right arrow">></span></button>
        <div class="subProperties ">
            <button class="btnSubNav" id="subProperties1">Properties</button>
            <button class="btnSubNav" id="subProperties2">Add Properties</button>
        </div>
        <button class="btnNav" id="inspection">Property Inspection<span class="pull-right arrow">></span></button>
        <div class="subInspection">
            <button class="btnSubNav" id="subInspection1">Record Inspection</button>
        </div>
    </div>
    <div class="container database">
        <div class="dbc"></div>
    </div>
    <div class="container doc">
        {% if empt == true %}
        <div class="container title">
        <h3>Names of All Prospects</h3>
        </div>
        <section>
              <table class="table ">
                <thead>
                    <tr>
                       <th>S\N</th>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Phone-Number</th>
                    </tr>
                </thead>
                <tbody>
                {% for prospect in prospects %}
                     <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ prospect.prospectName }}</td>
                        <td>{{ prospect.prospectEmail }}</td>
                        <td>{{ prospect.prospectPhoneNo}}</td>
                     </tr>
                     {% endfor %}
                </tbody>
              </table>
        </section>
        {% else %}
        <div class="container title">
        <h3>No prospect</h3>
        </div>
        <section>
            <p id="blu"> There are currently no prospects.</p>
        </section>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{asset('assets/js/current.js')}}"></script>
{% endblock %}